.main-profil {
    display: flex;
    margin-top: 50px;
    margin-left: 200px;
    justify-content: center;
    flex-direction: column;
    background-color: lightcyan;
    width: 80%;
    height: 80vh;
}