.main-profil {
    overflow: hidden;
    display: flex;
}
.profilContent {
    display: flex;
    margin-left: 140px;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: 80%;
    column-gap: 5px;
    justify-content: space-around;
    > h1 {
        display: flex;
        flex-basis: 100%;
        font-size: 3em;
        font-weight: 500;
        height: 50px;
        margin: 0;
        span {
            color: red; 
            padding-left: 15px;
        }
    }
    > p {
        flex-basis: 100%;
    }
    .charts-container {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        height: 500px;
        flex-basis: 75%;
        justify-content: space-between;
        row-gap: 20px;
    }
    .logo-list {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        flex-basis: 7%;
        height: 62vh;
        justify-content: center;
        row-gap: 15px;
        .info-card {
            display: flex;
            background-color: #FBFBFB;
            align-items: center;
            flex-basis: 100%; 
            padding: 0px 15px;
            &:first-child > img {
                background: rgba(255, 0, 0, 0.07);
            }
            &:nth-child(2) > img{
                background: rgba(74, 184, 255, 0.07);
            }
            &:nth-child(3) > img{
                background: rgba(249, 206, 35, 0.07);
            }
            &:nth-child(4) > img{
                background: rgba(253, 81, 129, 0.07);
            }
            img {
                padding: 20px;
                width: auto;
                height: 20px;
                border-radius:  6px;
            }
            > div {
                padding: 0 25px;
                p:first-child {
                    font-size:  0.7em;
                    font-weight: bold;
                    padding: 0;
                    margin: 0;
                }
                p:nth-child(2){
                    padding: 0;
                    margin: 0;
                    font-size: 0.8em;
                }
            }
        }
    }
    .daily-graph {
        border-radius: 5px;
        flex-basis: 100%;
        height: 250px !important;
        background-color: #FBFBFB;
    }
    .perf-graph {
        border-radius: 5px;
        flex-basis: 33%;
        height: 200px !important; 
        background-color: #282D30;         ;
    }
    .average-session {
        border-radius: 5px;
        background-color: red;
        flex-basis: 33%; 
        height: 200px !important;
        .recharts-line-dot{
            display: none;
        }
    }
   .score-chart {
       border-radius:  5px;
       height: 200px !important;
       flex-basis: 25%;
       background-color: #FBFBFB;
   }
   .legend_text {
       top: -20px;
       left: -20px !important; 
   }
   .recharts-legend-wrapper {
       position: relative;
       top: 20px !important;
   }
}